<script>

    $('#text1').on('click', function () {
        var t = $(this).clone();
        $(t).addClass('widget');
        $('#canvas').append(t);
        $('.draggable').draggable();
    });

    $('#text2').on('click', function () {
        var t = $(this).clone();
        $(t).addClass('widget');
        $('#canvas').append(t);
        $('.draggable').draggable();
    });

    $('#jumbo').on('click', function () {
        var t = $('#jumboTemp').clone();
        $(t).addClass('widget');
        $(t).css('display', 'block');
        $('#canvas').append(t);
        $('.draggable').draggable();
    });

    $('#anchor').on('click', function () {
        var t = $('#anchorTemp').clone();
        $(t).addClass('widget');
        $(t).css('display', 'block');
        $('#canvas').append(t);
        $('.draggable').draggable();
    });

</script>

<div class="col-xs-12" style="margin-left:10px">
    <div id="text1" class="row draggable widget">
        <h1>TEXT</h1>
    </div>
    <div id="text2" class="row draggable widget">
        <h1 style="font-family: 'Amatic SC', cursive;">TEXT</h1>
    </div>
    <br/>
    <div id="jumbo" class="row draggable widget">
        Jumbotron
    </div>
    <br/>
    <div id="anchor" class="row draggable widget">
        Anchor
    </div>
</div>

<div id="jumboTemp" class="row draggable jumbotron text-center" style="display: none">
    <h1 class="">Header!</h1>
    <p class="">Text</p>
</div>

<div id="anchorTemp" class="row draggable col-md-12 well" style="display: none">
    <legend>Anchor 1</legend>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies,
        metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque
        ante eget mi. Donecus eu, auctor laoreet neque. Etiam eu
        tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt
        nisi. Nam consectetur velit ac pharetra venenatis.</p>
</div>
