<script src="../../../js/dropbox.js"></script>
<script src="../../../js/print.js"></script>
<script src="../../../js/facebook.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="viewport" content="width=device-width, initial-scale=0.4, user-scalable=no, shrink-to-fit=no">

<ul class='custom-menu'>
    <li data-action = "delete">Delete</li>
</ul>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
            <div class="navbar-text pull-right">
                <a ng-show="model.user == 'yes'" ng-click="model.logout()" class="navbar-link">
                    <span class="glyphicon glyphicon-log-out"> Logout</span>
                </a>
                <a ng-show="model.user == 'no'" href="#/register" class="navbar-link">
                    <span class="glyphicon glyphicon-user"> Join!</span>
                </a>
            </div>
            <div ng-show="model.user == 'yes'" class="navbar-text pull-left">
                <a href="#/dashboard" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"> Dashboard</span>
                </a>
            </div>
            <div class="navbar-text">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-print" stlyle="padding-right:10px"
                          onClick="printCanvas()"> Print</span>
                </a>
            </div>
            <div class="navbar-text">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-download" stlyle="padding-right:10px"
                          onClick="downloadInfographic()"> Download</span>
                </a>
            </div>
            <div class="navbar-text">
                <a class="navbar-link">
                    <span id="dbSaver"></span>
                </a>
            </div>
            <div class="navbar-text">
            <div class="g-savetodrive"
                 data-src="http://infographer.herokuapp.com/assets/Infograph.pdf"
                 data-filename="Infographic.pdf"
                 data-sitename="Infographer">
            </div>
            </div>
            <div class="navbar-brand fb-share-button"
                 data-href={{model.infographic.url}}
                 data-layout="button"
                 data-size="large">
            </div>

        </div>
    </div>

</nav>

<div class="container-fluid">
    <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
        <div class="row">
            <div class="col-md-2"></div>

            <!-- Page content -->
            <div class="col-md-8 col-xs-12 col-sm-12">
                <div class="header" id="infoTitle">{{model.infographic.name}}</div>
                <div id="page-content-wrapper">
                    <div id="canvas" class="page-content inset">
                        <!-- Load all components -->

                            <div id="components" ng-repeat="component in model.components" style="position: relative">
                                <div class="row" ng-attr-id="{{component._id}}"
                                     style="position: absolute; left: {{component.left}}; top: {{component.top}}">
                                    <a>
                                        <span class="glyphicon" style="visibility: hidden"></span>
                                    </a>
                                    <div ng-switch="component.type">
                                        <div ng-switch-when="TEXT">
                                            <ng-include src="'views/components/templates/text-list.view.client.html'">
                                        </div>
                                        <div ng-switch-when="JUMBO">
                                            <ng-include src="'views/components/templates/text-list.view.client.html'">
                                        </div>
                                        <div ng-switch-when="ANCHOR">
                                            <ng-include src="'views/components/templates/text-list.view.client.html'">
                                        </div>
                                        <div ng-switch-when="SHAPE">
                                            <ng-include src="'views/components/templates/shape-list.view.client.html'">
                                        </div>
                                        <div ng-switch-when="IMAGE">
                                            <ng-include src="'views/components/templates/image-list.view.client.html'">
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>