<!-- Begin Nav -->
<nav class="navbar navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/login" class="navbar-link">
                  <span class="glyphicon glyphicon-user"> Login
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- End of Nav -->

<div class="container-fluid">
    <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
        <div class="row">
            <!-- Page content -->
            <div class="col-xs-12">
                <div class="header" id="infoTitle">
                    <img class="logo" src="../../../../assets/Logo.png"/>
                </div>
                <div class="col-xs-12 text-center header unselectable">
                    Present data better
                </div>
                <div class="container-fluid">
                    <div class="row hidden-xs">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x125/EEE" class="">
                                <div class="caption">
                                    <h4 class="">Application</h4>

                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x125/EEE" class="">
                                <div class="caption">
                                    <h4 class="">Application</h4>

                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x125/EEE" class="">
                                <div class="caption">
                                    <h4 class="">Application</h4>

                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="col-sm-12 text-center" style="margin-bottom: 20px;">
                        <a href="#/register" class="btn btn-success">Get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>