<style>
    .as-body-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
</style>
<div class="container-fluid">
    <div>
        <div class="row">
            <!-- Page content -->
            <div class="col-xs-12">
                <div class="header" id="infoTitle">
                    <img class="logo" src="../../../../assets/Logo.png"/>
                </div>
                <div class="col-xs-12 text-center header unselectable">
                    Present data better
                </div>
                <div class="container-fluid">
                    <div class="row hidden-xs">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <div class="thumbnail">
                                <img src="../../../assets/samples/Sample%201.png" class="">
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-left: 10px; margin-right: 10px">
                            <div class="thumbnail">
                                <img src="../../../assets/samples/Sample%203.png" class="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail">
                                <img src="../../../assets/samples/Sample%202.png" class="">
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!--/row-->
                    <div class="col-sm-12 text-center" style="margin-bottom: 20px;">
                        <a href="#/register" class="btn btn-success">Get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>