<script>
    $( document ).ready(function() {
        $.extend({
            getUrlVars: function(){
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++)
                {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            },
            getUrlVar: function(name){
                return $.getUrlVars()[name];
            }
        });
        // Getting query string param val
        var newWidget = $.getUrlVar('new');
        if(newWidget == "yes") {
            $('#back-btn').click(function () {
               $('#delete-btn').click();
               return false;
            });
            $('#delete-btn').html('Cancel');
        }
    });
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a id="back-btn" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Edit Widget
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/templates/editors/widget-HEADING-editor.view.client.html'">
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/templates/editors/widget-TEXT-editor.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/editors/widget-IMAGE-editor.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/editors/widget-YOUTUBE-editor.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/templates/editors/widget-HTML-editor.view.client.html'">
        </div>
    </div>
</div>
<!--<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>-->
<br />
<div class="container-fluid">
    <a class="btn btn-primary btn-block" id="updateWidgetBtn"
       ng-click="model.updateWidget(model.widget)">Update</a>
    <br />
    <a class="btn btn-danger btn-block" id="delete-btn"
       ng-click="model.deleteWidget()">Delete</a>
</div>

<div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
<div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

<!--delete and update buttons-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
