<div ng-switch="widget.type.shapeType">
    <div ng-switch-when="DASHED-SQUARE">
        <img class="as-img" src="../../../../assets/shapes/dashed-square.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="SQUARE">
        <img class="as-img" src="../../../../assets/shapes/square.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="CIRCLE">
        <img class="as-img" src="../../../../assets/shapes/circle.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="DASHED-CIRCLE">
        <img class="as-img" src="../../../../assets/shapes/dashed-circle.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="STAR">
        <img class="as-img" src="../../../../assets/shapes/star.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="HEART">
        <img class="as-img" src="../../../../assets/shapes/heart.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
    <div ng-switch-when="HEXAGON">
        <img class="as-img" src="../../../../assets/shapes/hexagon.png" width="{{widget.width}}" height="{{widget.height}}"/>
    </div>
</div>