<script src="../../../../js/mouse.js"></script>
<script>


    var options = {
        files: [
            // You can specify up to 100 files.
            {'url': 'http://sadarangani-akshay-webdev.herokuapp.com/uploads/b2dea34514ec5f1ba2c8d31fa1081779',
                'filename': 'test.jpg'}
        ],

        success: function () {
            // Indicate to the user that the files have been saved.
            alert("Success! Files saved to your Dropbox.");
        },

        progress: function (progress) {},

        // Cancel is called if the user presses the Cancel button or closes the Saver.
        cancel: function () {},

        // Error is called in the event of an unexpected response from the server
        // hosting the files, such as not being able to find a file. This callback is
        // also called if there is an error on Dropbox or if the user is over quota.
        error: function (errorMessage) {}
    };
    var button = Dropbox.createSaveButton(options);
    $(button).css('color', 'black');
    document.getElementById("dbSaver").appendChild(button);



    $('#account').on('click', function () {
        var element = document.getElementById('account');
        if(element.classList.contains('open'))
            $('#account').removeClass('open'); // Closes the dropdown
        else
            $('#account').addClass('open'); // Opens the dropdown
    });


    function toggleSidepanel(ele) {
        $(this).addClass('active');
        $("#spy2 > div").hide();
        $(ele).show();
    }

    function printCanvas() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        var options = {
            background: '#fff'
        };
        pdf.addHTML($('#page-content-wrapper')[0], options, function () {
            pdf.save('Infograph.pdf');
        });
    }

    $(".widget").on('mousedown', function () {
        console.log("should highlgh");
        $("#canvas > div").removeClass('highlight');
        $(this).addClass('highlight');
    });

    function hideAll() {
        //$('#sidebar-wrapper2').hide();
        var element = document.getElementById('account');
        if(element.classList.contains('open'))
            $('#account').removeClass('open'); // Opens the dropdown
    }

    function removeHighlights() {
        $("#canvas > div").removeClass('highlight');
    }

    $( function() {
        /*        $("#canvas > div").draggable();*/
        $(".as-img").on('click', function() {
            $(this).clone().appendTo('#canvas').draggable();
        });
    } );

    $('#canvas').on('keydown', function(e) {
        //Prevent insertion of a return
        if (e.which == 13 && e.shiftKey == false) {
            return false;
        }
    });

    $("body").on('click', function (evt) {
        if(evt.target.id == "menu")
            return;
        hideAll();
    });

    $("#canvas > div").draggable();
    $("#canvas")
        .on('click', '.row', function(){
            if ( $(this).is('.ui-draggable-dragging') ) {
                return;
            }
            $(this).draggable( "option", "disabled", true );
            $(this).attr('contenteditable','true');
        })
        .on('blur', '.row', function(){
            $(this).draggable( 'option', 'disabled', false);
            $(this).attr('contenteditable','false');
        });

    /*$( "#canvas > div" ).on('click', function() {
     $('#sidebar-wrapper2').show();
     });*/

    $('#canvas > div').on('drag', function() {
        $('#x-pos').val($(this).offset().top);
        $('#y-pos').val($(this).offset().left);
        $('#width').val($(this).width());
        $('#height').val($(this).height());
        $('#element').val($(this).attr('id'));
    });


    $(function() {
        $('#cp4').colorpicker().on('changeColor', function(e) {
            $('#page-content-wrapper').css('background-color', e.color.toString(
                'rgba'));
        });
    });
</script>

<ul class='custom-menu'>
    <li data-action = "edit">Edit</li>
    <li data-action = "delete">Delete</li>
</ul>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>-->
                <div id="account" class="dropdown">
                    <a id="menu" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </div>
            </div>
            <!--<div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>-->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span class="glyphicon glyphicon-print" stlyle="padding-right:10px"
                          onClick="printCanvas()"> PRINT</span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span id="dbSaver"></span>
                </a>
            </div>

        </div>
    </div>

</nav>

<div class="container-fluid">
    <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
        <div class="row">
            <div class="col-md-2">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="">
                    <nav id="spy">
                        <ul class="sidebar-nav nav">
                            <li>
                                <img class="logo" src="../../../../assets/Logo.png" />
                            </li>
                            <li class="sidebar-brand active"> <a href="#home" class="">
                                <span class="fa fa-home solo">Dashboard</span></a>
                            </li>
                            <li class=""> <a onclick="toggleSidepanel('#graphics')">
                                <span class="fa fa-image solo">Graphics</span>
                            </a>

                            </li>
                            <li class=""> <a onclick="toggleSidepanel('#bg')" data-scroll="" class="">
                                <span class="fa fa-th solo">Background</span>
                            </a>

                            </li>
                            <li class=""> <a onclick="toggleSidepanel('#txt')" data-scroll="" class="">
                                <span class="fa fa-text-width solo">Text</span>
                            </a>

                            </li>
                            <li class=""> <a href="#anch4" data-scroll="" class="">
                                <span class="fa fa-bars solo">Widgets</span>
                            </a>

                            </li>
                            <li>
                                <svg id="star" class="as-img" width="150" height="150">
                                    <circle cx="70" cy="70" r="40" fill="yellow" />
                                </svg>
                                <!--<img id="star" class="as-img" src="../../../../assets/shapes/star.svg" width="200px" height="200px" stycomponentsound:#FFFFFF"/>-->
                            </li>

                        </ul>

                    </nav>
                </div>
            </div>
            <!-- Page content -->
            <div class="col-md-8 col-sm-12">
                <div class="header" id="infoTitle">Web Dev Infographic</div>
                <div id="page-content-wrapper" class="">
                    <div id="canvas" class="page-content inset">
                        <div class="row widget">
                            <div class="jumbotron text-center">
                                <h1 class="">Hello Beautiful!</h1>

                                <p class="">This is a sidebar navigation responsive template built off of Bootstrap
                                    3.0 and simple sidebar template. It includes anchors, scroll spy, smooth
                                    scroll, and Awesome icon fonts.</p>
                                <p class=""><a class="btn btn-default">Click On Me!</a>
                                    <a class="btn btn-info">Tweet Me!</a>
                                </p>
                            </div>
                        </div>
                        <div id="#row2" class="row widget">
                            <div class="col-md-12 well">
                                <legend id="anch1" class="">Anchor 1</legend>
                                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies,
                                    metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque
                                    ante eget mi. Donecus eu, auctor laoreet neque. Etiam eu
                                    tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt
                                    nisi. Nam consectetur velit ac pharetra venenatis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of canvas -->

            <div class="col-md-2">
                <!-- Sidebar -->
                <div id="sidebar-wrapper2" class="">
                    <nav id="spy2">
                        <ul class="sidebar-nav nav">
                            <li class="sidebar-brand active">
                                <span class="fa fa-pencil-square-o solo">Edit</span>
                            </li>
                        </ul>
                        <div id="bg" class="editor">
                            <ng-include src="'views/components/templates/background.select.client.html'">
                        </div>
                        <div id="txt" class="editor">
                            <ng-include src="'views/components/templates/text.select.client.html'">
                        </div>
                        <!-- <div id="graphics" class="editor">
                             <ng-include src="'views/widget/templates/editors/widget-IMAGE-editor.view.client.html'">
                         </div>-->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>