<div ng-switch="component.type">
    <div ng-switch-when="TEXT">
        <div ng-switch="component.font">
            <div ng-switch-when="Times New Roman">
                <div ng-attr-id="{{component._id + 'div'}}" class="widget">
                    <h1>{{component.text}}</h1>
                </div>
            </div>
            <div ng-switch-when="Amatic SC">
                <div ng-attr-id="{{component._id + 'div'}}" class="widget">
                    <h1 style="font-family: 'Amatic SC', cursive;">{{component.text}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="JUMBO">
        <div  ng-attr-id="{{component._id + 'div'}}"  class="jumbotron text-center">
            <h1 id="jHeader" ng-attr-id="{{component._id + 'jHeader'}}">{{component.heading}}</h1>
            <p id="jTxt" ng-attr-id="{{component._id + 'jTxt'}}" class="jTxt">{{component.text}}</p>
        </div>
    </div>
    <div ng-switch-when="ANCHOR">
        <div ng-attr-id="{{component._id + 'div'}}" class="well text-center">
            <legend ng-attr-id="{{component._id + 'aLegend'}}" class="aLegend">{{component.heading}}</legend>
            <p ng-attr-id="{{component._id + 'aTxt'}}" class="aTxt">{{component.text}}</p>
        </div>
    </div>
</div>