<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/creator"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Profile
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid as-bottom-pad" style="margin-top:50px;">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
        <div ng-repeat="infographic in model.infographics" style="float:left; padding-right:10px">
            <img class="infograph" ng-src="{{infographic.thumb}}" width="300px" height="424px"/>
            <br/>
            <a href="#/viewer/{{infographic._id}}" class="info-title">{{infographic.name}}</a>

        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
