<div class="container text-center">
    <h1>Recover Password</h1>
    <div class="col-xs-2 col-sm-4"></div>
    <div class="col-xs-8 col-sm-4">
    <input ng-model="user.username"
           id="reg-username"
           type="text"
           class="form-control"
           placeholder="Username"/>

    <input ng-model="user.phone"
           id="reg-phone"
           type="text"
           class="form-control"
           placeholder="Phone Number"/>
        <label for="reg-phone">A new password will be sent to your registered phone number</label>
        <a class="btn btn-success btn-block" id="recover"
       ng-click="model.recover(user)">Recover</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
    </div>
    <div class="col-xs-2 col-sm-4"></div>
</div>
<div class="container text-center">
    <br/>
    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
</div>