<script>
    $(document).ready(function($) {
        if(!$('input#phone').val()) {
            $('input#phone').css({ 'border':'3px solid red'});
            $('#update').addClass('disabled').addClass('as-disabled');
            $('#dashboard').addClass('disabled').addClass('as-disabled');
        }
        $('input#phone').bind('input propertychange', function() {
            if ($(this).val()) {
                $(this).css({ 'border':'3px solid green'});
                $('#dashboard').removeClass('disabled').removeClass('as-disabled');
                $('#update').removeClass('disabled').removeClass('as-disabled');
            } else
            {
                $(this).css({ 'border':'3px solid red'});
                $('#update').addClass('disabled').addClass('as-disabled');
                $('#dashboard').addClass('disabled').addClass('as-disabled');
            }
        });
    });
</script>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a ng-click="model.update(model.user)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:30px">
    <div class="col-xs-2 col-sm-4"></div>
    <div class="col-xs-8 col-sm-4">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username" disabled>
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number With Area Code</label>
                <input ng-model="model.user.phone" type="text" class="form-control" id="phone" placeholder="+12345678900">
            </div>
        </form>

        <a class="btn btn-primary btn-block" id="update"
           ng-click="model.update(model.user)">Update</a>
        <a ng-if="model.user.role == 'USER'" class="btn btn-info btn-block" id="dashboard"
           href="#/dashboard">Dashboard</a>

        <a ng-if="model.user.role == 'ADMIN'" class="btn btn-info btn-block"
           href="#/admin">Admin Dashboard</a>
        <a class="btn btn-warning  btn-block"
           ng-click="model.logout()">Logout</a>
        <a class="btn btn-danger  btn-block"
           ng-click="model.delete(model.user._id)">Delete Profile</a>
    </div>
    <div class="col-xs-2 col-sm-4"></div>
</div>
<br />
<div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
<div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text" style="width: 100%;">
            <div class="text-center">
                <a href="mailto:4kshay@ccs.neu.edu">
                    <span class="copyright">© Akshay Sadarangani</span>
                </a>
            </div>
        </div>
    </div>
</nav>