<script>
    $(document).ready(function($) {
        if(!$('input#reg-email').val()) {
            $('input#reg-email').css({ 'border':'3px solid red'});
            $('#register').addClass('disabled').addClass('as-disabled');
        }
        var testEmail =    /^[ ]*([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})[ ]*$/i;
        $('input#reg-email').bind('input propertychange', function() {
            if (testEmail.test(jQuery(this).val())) {
                jQuery(this).css({ 'border':'3px solid green'});
                jQuery('#register').removeClass('disabled').removeClass('as-disabled');
            } else
            {
                jQuery(this).css({ 'border':'3px solid red'});
                jQuery('#register').addClass('disabled').addClass('as-disabled');
            }
        });
    });
</script>
<div class="container text-center">
    <h1>Register</h1>
    <div class="col-xs-2 col-sm-4"></div>
    <div class="col-xs-8 col-sm-4">
    <label for="reg-username">Username</label>
    <input ng-model="user.username"
           id="reg-username"
           type="text"
           class="form-control"
           placeholder="Username"/>

    <label for="reg-firstname">First Name</label>
    <input ng-model="user.firstName"
           id="reg-firstname"
           type="text"
           class="form-control"
           placeholder="First Name"/>

    <label for="reg-lastname">Last Name</label>
    <input ng-model="user.lastName"
           id="reg-lastname"
           type="text"
           class="form-control"
           placeholder="Last Name"/>

    <label for="reg-email">Email</label>
    <input ng-model="user.email"
           id="reg-email"
           type="email"
           class="form-control"
           placeholder="Email"/>
    <label for="reg-phone">Phone Number</label>
    <input ng-model="user.phone"
           id="reg-phone"
           type="text"
           class="form-control"
           placeholder="Phone Number"/>
    <label for="reg-password">Password</label>
    <input ng-model="user.password"
           id="reg-password"
           type="password"
           class="form-control"
           placeholder="Password"
           required/>
    <label for="reg-verify-password">Verify Password</label>
    <input ng-model="user.verifypassword"
           id="reg-verify-password"
           type="password"
           class="form-control"
           placeholder="Verify password"
           required/>
    <a class="btn btn-success btn-block" id="register"
       ng-click="model.register(user)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
    </div>
    <div class="col-xs-2 col-sm-4"></div>
    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

</div>